Repository naa0yama/proxmox-auto-install-iso, changes with the labels that .github/labeler.yml gives for each.
All labels: core, github_actions, documentation, renovate

add: version env
  .github/workflows/build.yml
Labels: github_actions

typo
  .github/workflows/build.yml
Labels: github_actions

add: disable tty
  .github/workflows/build.yml
Labels: github_actions

typo
  .github/workflows/build.yml
Labels: github_actions

fix build
  .github/workflows/build.yml
Labels: github_actions

fix: if statement
  .github/workflows/build.yml
Labels: github_actions

add: file ext iso
  .github/workflows/build.yml
Labels: github_actions

fix filename
  .github/workflows/build.yml
Labels: github_actions

fix: build
  .github/workflows/build.yml
Labels: github_actions

fix
  .github/workflows/build.yml
Labels: github_actions

add: README.md
  README.md
  docs/img.png
Labels: documentation

feat: split actions
  .github/workflows/build.yml
Labels: github_actions

fix: warn mes
  Dockerfile
Labels: core

add: needs
  .github/workflows/build.yml
Labels: github_actions

feat: split actions (#4)
  .github/workflows/build.yml
  Dockerfile
Labels: core, github_actions

Update build.yml
  .github/workflows/build.yml
Labels: github_actions

Update build.yml
  .github/workflows/build.yml
Labels: github_actions

add: action.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  action.yml
Labels: github_actions

fix: imge
  action.yml
Labels: none

fix path
  entrypoint.sh
Labels: none

add: GITHUB_WORKSPACE
  entrypoint.sh
Labels: none

debug
  entrypoint.sh
Labels: none

fix: path
  README.md
  entrypoint.sh
Labels: documentation

Update release.yml
  .github/workflows/release.yml
Labels: github_actions

Update release.yml
  .github/workflows/release.yml
Labels: github_actions

dump proxmox ve 8.2-2 to 8.3-1
  .github/workflows/release.yml
Labels: github_actions

Update pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: github_actions

.github/labeler.yml:

---
# Ref: https://github.com/actions/labeler/tree/main#pull-request-labeler

core:
  - changed-files:
      - any-glob-to-any-file:
          - "Dockerfile"

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
          - "README.md"

renovate:
  - changed-files:
      - any-glob-to-any-file: "renovate.json"

# Branch pattern
develop:
  - head-branch: ["^dev/"]
